<header class="header">
  <div class="header-container">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.minima.nav_pages | default: default_paths -%}
    {%- assign page_titles = site.pages | map: 'title' | compact %}
    <div class="header-logo"><!-- insert svg of logo here--></div>

    {%- unless page_titles == empty %}
      <nav class="header-nav">
        <!-- reinclude or rework when optimizing for mobile
        <input type="checkbox" id="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon"></span>
        </label> -->


          {% include nav-items.html paths = page_paths %}

      </nav>
    {%- endunless %}
  </div>
</header>

<header>
    <div>
        <svg></svg>
        <ul>
            
        </ul>
    </div>
</header>