@use "variables";

/* html element styling */
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}

p,
a,
span,
ul li,
ol li {
  font-family: $p-font;
  color: $text-color;
}

/* header & navbar styling */
.header-container {
  height: 20%;
  background-color: $primary-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
}

.header-logo {
  height: 20%;
  width: 10%;
}

.nav-items {
  padding-top: auto;
  padding-bottom: auto;
}

.nav-item {
  font-family: $header-font;
  color: $secondary-color;
  text-decoration: none;
  font-size: 1.8em;
  padding: 0px 10px 0px 10px;
}

/* footer styling */
.footer {
  width: 100%;
  height: 20%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  height: 20%;
  background-color: $primary-color;
  color: $secondary-color;
  align-items: center;
  padding: 10px 20px 10px 20px;
}

.footer-subcontainer-left {
  text-align: left;
  align-items: left;
  width: 50%;
}

.footer-subcontainer-left img {
  height: 30%;
  width: 20%;
  align-items: left;
}

.footer-subcontainer-right {
  text-align: right;
  align-items: right;
  width: 50%;
}

.footer-subcontainer-right img {
  height: 100%;
  width: 40%;
  opacity: 0.5;
  align-items: right;
}

.footer-languages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.footer-text {
  color: $secondary-color;
}

/* post styling */

.post {
  padding: 10px 20px 10px 20px;
}
