@use 'variables';

/*.hfContainer {
    background-color: $primary-color;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.lfContainer {

}

.rfContainer{

}

.site-header {
    
}*/

.header-container {
    height: 20%;
    width: screen;
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px 5px 20px;
}

.header-logo {
    height: 20%;
    width: 10%;

}

.nav-items {
    padding-top: auto;
    padding-bottom: auto;
}

.nav-item {
    font-family: $header-font;
    color: $secondary-color;
    text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
}

p, a , span {
    font-family: $p-font;
    color: $text-color;
}

.footer {
    width: 100%;
    height: 20%;
    background-color: $primary-color;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    color: $secondary-color;
}

.footer-subwrapper-left, .footer-subwrapper-right {
    display: inline-block;
}

.footer-subwrapper-left {
    text-align: left;
    align-items: left;
    display: block;
}

.footer-subwrapper-right svg {
    height: 15%;
    width: 30%;
    opacity: 0.5;
}