@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

$primary-color: #274690;
$secondary-color: #F5F3F5;
$accent-color-1: #1B264F;
$accent-color-2: #576CA8;
$text-color: #282730;
$header-font: "Young Serif", serif;
$p-font: "Archivo", sans-serif;
